
<%- include("partials/blogHeader") -%>


<div class="ui main text container segment"><div class="ui huge header">NEW BLOG</div>
<form class="ui form" action="/blogs" method="POST">
	<div class="field">
		<label>Title</label>
		<input type="text" name="blog[title]" placeholder="title" autocomplete="off">
	</div>
		<div class="field">
		<label>Image</label>
		<input type="text" name="blog[image]" placeholder="imageurl" autocomplete="off">
	</div>
		<div class="field">
		<label>body</label>
		<textarea name="blog[body]"></textarea>
	</div>



	<button class="ui secondary button">submit</button>


</form>
</div>

<%- include("partials/blogFooter") -%>
