<%- include("partials/stackHeader"); -%>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Some question</h4>
    <p class="card-text">Some Answers</p>
    <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>
  </div>
</div>

<%- include("partials/stackFooter"); -%>
